.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

label > select {
    margin-left: 1rem;
}

.deck-container .card {
    border: 1px solid grey;
}

.deck-container button {
    width: 60%;
    aspect-ratio: 1;
}

.current-card-container .card {
    border: 1px solid black;
}

.card {
    width: 20vw;
    aspect-ratio: 0.75;
}

svg {
    width: 40vw;
    height: 40vw;
}

svg g g {
    fill: lightgreen;
    fill-opacity: 0.6;
}

svg g.fight .hexagon {
    fill: red;
}

svg g:hover {
    fill-opacity: 1;
}
svg g:hover text {
    fill-opacity: 1;
}

svg g polygon {
    stroke: darkgreen;
    stroke-width: 0.2;
    transition: fill-opacity 0.2s;
}

svg path {
    fill: none;
    stroke: none;
    stroke-width: 0.2em;
    stroke-opacity: 0.8;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.white svg path {
    stroke: white;
}

.blue svg path {
    stroke: blue;
}

.green svg path {
    stroke: green;
}
