.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

label > select {
    margin-left: 1rem;
}

.deck-container .card {
    border: 1px solid grey;
}

.current-card-container .card {
    border: 1px solid black;
}

.card {
    width: 20vh;
    aspect-ratio: 0.75;
}
