.App {
    text-align: center;
}

.App-header {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 1vmin);
    color: white;
}

.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

label > select {
    margin-left: 1rem;
}

.deck-container .card,
.current-card-container,
.mini-card-container {
    width: 20vw;
    aspect-ratio: 0.75;
}

.deck-container .card {
    border: 1px solid grey;
}

.deck-container button {
    width: 60%;
    aspect-ratio: 1;
}

@keyframes enter {
    from {
        transform: rotateY(180deg) scale(1.2);
    }
}

.current-card-container {
    border: 1px solid grey;
}

.current-card-container .card {
    outline: 1px solid grey;
    background: white;
    animation: enter 0.2s ease-out;
    backface-visibility: hidden;
}

.mini-card-container {
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
}

.card {
    width: 20vw;
    aspect-ratio: 0.75;
}

.card.mini-card {
    background-color: lightgray;
}

.card.mini-card {
    width: 2vw;
}

.card.white {
    background-color: white;
}

.card.red {
    background-color: red;
    color: white;
}

.card.blue {
    background-color: blue;
    color: white;
}

.card.green {
    background-color: green;
    color: white;
}

svg {
    width: 40vw;
    height: 40vw;
}

svg g g {
    fill: lightgreen;
    fill-opacity: 0.6;
}

svg g.fight .hexagon {
    fill: red;
}

svg g:hover {
    fill-opacity: 1;
}
svg g:hover text {
    fill-opacity: 1;
}

svg g polygon {
    stroke: darkgreen;
    stroke-width: 0.2;
    transition: fill-opacity 0.2s;
}

svg path {
    fill: none;
    stroke: none;
    stroke-width: 0.2em;
    stroke-opacity: 0.8;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.white svg path {
    stroke: white;
}

.blue svg path {
    stroke: blue;
}

.green svg path {
    stroke: green;
}
